{% extends 'base.html' %}

{% block title %}
    Edit post
{% endblock %}

{% block content_title %}
    Edit post
{% endblock %}

{% block content %}
   
    <div>
        <form action="{{url_for('posts.edit_post', slug=post.slug)}}" method="POST">
                

            

                <div class="form-group">
                    
                    {{form.title(class='form-control control-label')}}
                    <br>
                    {{form.body(class='form-control', rows='20', id='editor')}}

                </div>

        
                <button type="submit" class="btm pl-5 pr-5">Edit</button>
        </form>
    </div>
    <script src="//cdn.ckeditor.com/4.11.4/basic/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor')
    </script>
{% endblock %}